/* Universal reset styles */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}



/* Typography styles */
h2:last-child, 
h3:last-child, 
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom: 0;
}



/* Padding utility classes */
.padded-sm  { padding: 2.5%;                       }
.padded-md  { padding: 5%;                         }
.padded-lg  { padding: 10%;                        }

.padded-05  { padding: 0.5rem;                     }
.padded-1   { padding: 1rem;                       }
.padded-2   { padding: 2rem;                       }

.padded-t   { padding-top: 5%;                     }
.padded-b   { padding-bottom: 5%;                  }
.padded-l   { padding-left: 5%;                    }
.padded-r   { padding-right: 5%;                   }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem;                   }
.padded-b-1 { padding-bottom: 1rem;                }
.padded-l-1 { padding-left: 1rem;                  }
.padded-r-1 { padding-right: 1rem;                 }

.padded-t-2 { padding-top: 2rem;                   }
.padded-b-2 { padding-bottom: 2rem;                }
.padded-l-2 { padding-left: 2rem;                  }
.padded-r-2 { padding-right: 2rem;                 }

.padded-t-0 { padding-top: 0;                      }
.padded-b-0 { padding-bottom: 0;                   }
.padded-l-0 { padding-left: 0;                     }
.padded-r-0 { padding-right: 0;                    }



/* Margin utility classes */
.margin-t   { margin-top: 5%;                    }
.margin-b   { margin-bottom: 5%;                 }
.margin-l   { margin-left: 5%;                   }
.margin-r   { margin-right: 5%;                  }

.margin-t-1 { margin-top: 1rem;                  }
.margin-b-1 { margin-bottom: 1rem;               }
.margin-l-1 { margin-left: 1rem;                 }
.margin-r-1 { margin-right: 1rem;                }

.margin-t-2 { margin-top: 2rem;                  }
.margin-b-2 { margin-bottom: 2rem;               }
.margin-l-2 { margin-left: 2rem;                 }
.margin-r-2 { margin-right: 2rem;                }

.margin-t-0 { margin-top: 0;                     }
.margin-b-0 { margin-bottom: 0;                  }
.margin-l-0 { margin-left: 0;                    }
.margin-r-0 { margin-right: 0;                   }

.margin-tb  { margin-top: 5%; margin-bottom: 5%; }
.margin-lr  { margin-left: 5%; margin-right: 5%; }



/* Media queries utility classes */
/*
576 -xs - 36em
768 - sm - 48em
1024 - md - 64em
1280-lg
*/

/* Genreal CSS styles (apply everywhere) */
.show-xs,
.show-sm,
.show-md {
    display: none;
}

/* Shows only on XS devices and smaller */
.show-xs        { display: block;       } 
/* Shows only on SM devices and smaller */
.show-sm        { display: block;       } 
/* Shows only on MD devices and smaller */
.show-md        { display: block;       } 

/* Hides on XS devices and smaller */
.hide-xs        { display: none;        } 
/* Hides on SM devices and smaller */
.hide-sm        { display: none;        } 
/* Hides on MD devices and smaller */
.hide-md        { display: none;        } 

.sm-text-center { text-align: center;   }
.sm-text-left   { text-align: left;     }
.sm-text-right  { text-align: right;    }

.sm-padded      { padding: 5%;          }
.sm-padded-1    { padding: 1rem;        }
.sm-padded-05   { padding: 0.5rem;      }

.sm-padded-t-0  { padding-top: 0rem;    }
.sm-padded-b-0  { padding-bottom: 0rem; }
.sm-margin-t-0  { margin-top: 0rem;     }
.sm-margin-b-0  { margin-bottom: 0rem;  }